<!--The content below is only a placeholder and can be replaced.-->

<!-- <h2>Here are some links to help you start: </h2> -->
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<span>
  <ul>
      <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/AttributeBinding" routerLinkActive="active">AttributeBinding</a></li>
      <li><a routerLink="/InterPolationBinding" routerLinkActive="active">InterPolationBinding</a></li>
      <li><a routerLink="/ReactiveForm" routerLinkActive="active">ReactiveForm</a></li>
      <li><a routerLink="/TwoWayBinding" routerLinkActive="active">TwoWayBinding</a></li>
      <li><a routerLink="/Login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/EventHandling" routerLinkActive="active">EventHandling</a></li>
      <li><a routerLink="/Loop" routerLinkActive="active">Loop</a></li>
      <li><a routerLink="/IfElse" routerLinkActive="active">NgIf</a></li>
      <li><a routerLink="/NgSwitch" routerLinkActive="active">NgSwitch</a></li>
      <li><a routerLink="/Pipe" routerLinkActive="active">Pipe</a></li>
      <li><a routerLink="/CustomPipesUsage" routerLinkActive="active">CustomPipesUsage</a></li>
      <li><a routerLink="/ComponentLifeCycle" routerLinkActive="active">ComponentLifeCycle</a></li>
      <li><a routerLink="/TemplateDrivenForm" routerLinkActive="active">TemplateDrivenForm</a></li>
      <li><a routerLink="/TestService" routerLinkActive="active">TestService</a></li>
      <li><a routerLink="/ContentProjection" routerLinkActive="active">ContentProjection</a></li>
      <li><a routerLink="/ViewChild" routerLinkActive="active">ViewChield</a></li>
      <li><a routerLink="/ContentChild" routerLinkActive="active">ViewChield</a></li>
      <li><a routerLink="/PlatformRenderer" routerLinkActive="active">PlateformRenderer</a></li>
      <li><a routerLink="/DynamicComponent" routerLinkActive="active">DynamicComponent</a></li>
      <li><a routerLink="/AttributeDirectives" routerLinkActive="active">AttributeDirectives</a></li>
  </ul>
</span>

<router-outlet></router-outlet>
<!-- <app-interpolation-binding></app-interpolation-binding>
<app-attribute-binding></app-attribute-binding>
<app-property-binding></app-property-binding>

<app-two-way-binding></app-two-way-binding> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-login></app-login> -->